.vitrina-container {
    text-align: center;
    margin: 20px;
    min-height: 90vh; 
    padding: 20px;
}

/* Marco con imagen de fondo */

.vitrina-marco {
    position: relative;
    padding: 20px;
    width: 135%;
    max-width: 600px;
    min-height: 350px;
    margin: 20px auto;
    border: 8px solid var(--grisOscuro);
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/imagesMedal/fondo.jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* Tabla de medallas con fondo semitransparente */

.vitrina-tabla {
    position: relative;
    z-index: 1;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.medalla {
    padding: 10px;
    text-align: center;
}

.medalla-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    background-color: transparent;
    mix-blend-mode: multiply;
}

.medalla-img[src*="medalla1.png"] {
    display: block;
    transform: scale(1.09) !important; 
    transform-origin: center; 

}
.medalla-img[src*="medalla2.png"] {
    display: block;
    transform: scale(1.28) !important; 
    transform-origin: center; 

}
.medalla-img[src*="medalla3.png"] {
    display: block;
    transform: scale(1.17) !important; 
    transform-origin: center; 

}
.medalla-img[src*="medalla4.png"] {
    display: block;
    transform: scale(1.06) !important; 
    transform-origin: center; 

}
.medalla-img[src*="medalla5.png"] {
    display: block;
    transform: scale(1.07) !important; 
    transform-origin: center; 

}
.medalla-img[src*="medalla6.png"] {
    display: block;
    transform: scale(1.06)  !important; 
    transform-origin: center; 

}
.medalla-img[src*="medalla7.png"] {
    display: block;
    transform: scale(1.07)  !important; 
    transform-origin: center; 

}
.medalla-img[src*="medalla8.png"] {
    display: block;
    transform: scale(1.11)  !important; 
    transform-origin: center; 

}
.medalla-img[src*="medalla9.png"] {
    display: block;
    transform: scale(1.09)  !important; 
    transform-origin: center; 

}
.medalla-img[src*="medalla10.png"] {
    display: block;
    transform: scale(1.09)   !important; 
    transform-origin: center; 

}
.btn-back {
    display: block;
    margin: 20px auto;
    background: linear-gradient(135deg, var(--verde), #5f8b6a);
    color: var(--blanco);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-back:hover {
    background: linear-gradient(135deg, #5f8b6a, #4f745a);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

  /* Estilos Modo Oscuro */

.dark .vitrina-container {
    background: linear-gradient(135deg, #212121, #424242);
    color: var(--blanco);
    margin: auto;
}