.challenge-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.challenge-container {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.genially-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
    background: white;
}

.btn-close-challenge {
    align-self: center;
    background: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.btn-close-challenge:hover {
    transform: scale(1.05);
    background: var(--primary-dark);
}