.intermediate-map {     position: fixed;          
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: fixed;
    padding: 40px;            
    background: transparent;
}
.map-card { 
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
         } 
.next-stop-title {
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 10px 0 30px;
             } 
.map-placeholder {
    background: #c5b7b7; border-radius: 12px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    min-height: 300px;
                 }
.map-img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
                     }  
.map-instruction {
    position: absolute;
    bottom: 0; left: 0;
    right: 0;
    background: rgba(219, 11, 11, 0.7);
    color: rgb(89, 23, 127);
    padding: 15px; margin: 0;
                             } 
.nav-controls-map {
    display: flex;
    justify-content: space-between;
     align-items: center;
                                 } 

.inter-map-top-label {
    position: absolute;
    transform: translateX(-50%);
    background: var(--Fondo-color);
    color: var(--Siguiente-Paradacolor);
    padding: 16px 26px;
    border-radius: 16px;
    font-size: 2rem;
    font-weight: 900;
    white-space: nowrap;
    z-index: 5;
    backdrop-filter: blur(5px);
     }

@media (max-width: 480px) {
    .map-card{
        max-width: 340px;
        padding: 16px;
        border-radius: 16px;
        transform: translate(-40px, -50px);
    }
} 




