.connection-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: var(--blanco);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    z-index: 1000;
  }