.orientacion-alerta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(60, 150, 203);
  text-align: center;
  padding: 8px 16px;
  font-weight: bold;
  z-index: 1000;
  font-size: 14px;
  color: white;
  min-height: unset !important; /* Importante para que no ocupe toda la pantalla*/
  height: 40px !important; /* Importante para que no ocupe toda la pantalla*/
  line-height: 40px; /* Importante para que no ocupe toda la pantalla*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
